#n01{
    display: block;
    text-align: center;
    font-size: 200px;
    font-family: Helvetica;
}
#n02{
    text-align: center;
    
    
}
.button{
    padding:20px 50px;
    font-size: 20px;
    margin: 12px;
    color: white;
    background-color: hsl(212,100%,76%);
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.button:hover{
    background-color: hsl(216,100%,58%);
}
body{
    background-color: antiquewhite;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
