body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0,0%,95%);
    scroll-behavior: smooth;

}
h3{
  color: hsl(223,100%,64%);
}
form{
    background-color: hsl(0,0%,100%);
    text-align: center;
    max-width: 350px;
    margin:auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsl(0,0%,0%,0.5);
}
#textBox{
    text-align: center;
    font-size: 22px;
    width: 50%;

    border-radius: 7px;
    border: solid;
    margin-bottom: 17px;

}
label{
    font-size: 17px;
    font-weight: bold;
}
button{
    margin-top: 17px;
    background-color: red;
    color: whitesmoke;


    padding: 6px 10px;

    border-radius: 5px;
    cursor: pointer;
    border: none;
}
button:hover{
    background-color: rgb(211, 17, 14);
}
#result{
    font-weight: bold;
    font-size: 17px;
}